@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?1beaul');
    src:    url('/.DocumentRevisions-V100fonts/icomoon.eot?1beaul#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?1beaul') format('truetype'),
        url('/fonts/icomoon.woff?1beaul') format('woff'),
        url('/fonts/icomoon.svg?1beaul#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 250% !important;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus2:before {
    content: "\ea8c";
    color: red;
}
.icon-github:before {
    content: "\eab0";
    color: black;
}

